# dependencies
node_modules/
# env & secrets
.env
*.env
!.env.example
# build output
dist/
build/
# prisma
server/prisma/*.db
# uploads
server/uploads/*
!server/uploads/.gitkeep
# logs & OS
*.log
.DS_Store
